@import url(fonts.css);
@import url(theme.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 66.6%
}

body{
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: var(--bg-main);
}

header h1{
  font-family: BricolageGrotesque-Bold;
}

.intro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}
.intro .intro--text{
  font-size: 2.5rem;
  font-family: BricolageGrotesque-Bold;
}
.intro .intro--search{
  margin-top: 2rem;
}
.intro .intro--search input{
  width: 30rem;
  height: 2rem;
  padding: 1.5rem;
  font-family: DMSans-SemiBold;
  font-size: 1.3rem;
  border: .15rem solid var(--heading-color);
  border-radius: .5rem;
  color: var(--heading-color);
  background-color: var(--bg-card);
}
.intro .intro--search button{
  outline: none;
  border: .15rem solid var(--heading-color);
  border-radius: .5rem;
  background-color: var(--heading-color);
  padding: 0.6rem 1rem;
  font-size: 1.3rem;
  font-family: DMSans-SemiBold;
  color: var(--bg-card);
}

.details{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .details--main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-card);
  margin-top: 3rem;
  width: 100rem;
  height: 20rem;
  border-radius: 1.5rem;
  padding: 2rem;
}
.details .details--main .main-city{
  font-family: DMSans-Bold;
  font-size: 2.2rem;
  color: var(--heading-color);
}
.details .details--main .main-date{
  font-family: DMSans-Medium;
  margin-top: 0.75rem;
  color: var(--text-main);
}
.details .details--main div:nth-child(2){
  display: flex;
  align-items: center;
  gap: 2rem;
}
.details .details--main div:nth-child(2) img{
  height: 8rem;
  width: 8rem;
}
.details .details--main div:nth-child(2) .temp{
  font-family: DMSans-SemiBoldItalic;
  font-size: 7rem;
  color: var(--heading-color);
}

.details .details--sub{
  width: 100rem;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;

}
.details .details--sub div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-card);
  height: 10rem;
  width: 17rem;
  border-radius: 1rem;
  padding: 1rem;
}
.details .details--sub div .sub-text{
  font-family: DMSans-Medium;
  color: var(--text-main);
}
.details .details--sub p:nth-child(2){
  font-family: DMSans-Medium;
  font-size: 2.5rem;
  color: var(--text-main);
}

.details .details--daily{
  width: 100rem;
  margin: 2rem 0;
}
.details .details--daily .daily-text{
  font-family: DMSans-Medium;
  font-size: 2rem;
  color: var(--heading-color);
}
.details .details--daily .daily-box{
  display: flex;
  width: 100rem;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 2rem;
}
.details .details--daily .daily-box div{
  background-color: var(--bg-card);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .details--daily .daily-box .daily-day{
  font-family: DMSans-Bold;
  color: var(--heading-color);
}
.details .details--daily .daily-box img{
  width: 10rem;
}
.details .details--daily .daily-box .daily-info{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}
.details .details--daily .daily-box .daily-info p{
  font-family: DMSans-Medium;
  font-size: 1.3rem;
  color: var(--text-main);
}

@media (max-width:1024px) {
  .details .details--main,.details .details--sub,.details .details--daily, .details .details--daily .daily-box{
    width: 90rem;
  }
}

@media (max-width:768px) {
  .details .details--main,.details .details--sub,.details .details--daily,.details .details--daily .daily-box{
    width: 70rem;
  }
  .details .details--sub div{
    width: 15rem;
  }
  .details .details--daily .daily-box{
    flex-wrap: wrap;
  }
}

@media (max-width:425px) {
  .intro .intro--text{
    font-size: 2rem;
  }
  .intro .intro--search input{
    width: 20rem;
  }
  .details .details--main .main-city{
    font-size: 1.9rem;
  }
  .details .details--main div:nth-child(2) .temp{
    font-size: 4rem;
  }
  .details .details--main,.details .details--sub,.details .details--daily,.details .details--daily .daily-box{
    width: 35rem;
  }
  .details .details--sub{
    flex-wrap: wrap;
    gap: 1rem;
  }
  .details .details--daily .daily-box{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .details .details--daily .daily-text{
    margin-left: 1rem;
  }
}

@media (max-width:375px) {
  .details .details--main,.details .details--sub,.details .details--daily,.details .details--daily .daily-box{
    width: 31rem;
  }
}

@media (max-width:320px) {
  .intro .intro--text{
    font-size: 1.5rem;
  }
  .intro .intro--search input{
    width: 17rem;
  }
  .details .details--main .main-city{
    font-size: 1.9rem;
  }
  .details .details--main div:nth-child(2) .temp{
    font-size: 4rem;
  }
  .details .details--main,.details .details--sub,.details .details--daily,.details .details--daily .daily-box{
    width: 28rem;
  }
  .details .details--sub{
    flex-wrap: wrap;
    gap: 1rem;
  }
  .details .details--daily .daily-box{
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .details .details--daily .daily-text{
    margin-left: 1rem;
  }
}